* {
  background-color: blanchedalmond;
  font-family: 'Trebuchet MS', Arifsal, sans-serif;
  box-sizing: border-box;
}

header {
  text-align: center;
  position: sticky;
  background-color: #ffd19f;
}

a {
  color: inherit;
  background-color: inherit;
  text-decoration: inherit;
}

h1 {
  background-color: #ffd19f;
  font-size: 32px;
  border: solid;
  border-color: #ffd19f;
  padding: 30px;
}

.nav {
  background-color: #ffd19f;
  border: solid;
  border-color: #ffd19f;
  text-align: center;
  text-transform: uppercase;
}

li.nav {
  display: inline-block;
  margin: 10px 30px;
  padding: 10px 30px;
  background-color: #fdbf7d;
  border: solid;
  border-color: white;
  border-radius: 30%;
  font-weight: bold;
}

table {
  align: center;
  border: solid;
}
