* {
  background-color: blanchedalmond;
  font-family: 'Trebuchet MS', Arifsal, sans-serif;
  box-sizing: border-box;
}

header {
  text-align: center;
  position: sticky;
  background-color: #ffd19f;
  border: solid;
  border-color: rgb(117, 53, 0);
  border-radius: 15px;
  margin-bottom: 2em;
}

a {
  color: inherit;
  background-color: inherit;
  text-decoration: inherit;
}

h1 {
  background-color: #ffd19f;
  font-size: 32px;
  border: solid;
  border-color: #ffd19f;
  padding: 30px;
  margin-bottom: 0;
}

.nav {
  background-color: #ffd19f;
  border: solid;
  border-color: #ffd19f;
  text-align: center;
  text-transform: uppercase;
}

li.nav {
  display: inline-block;
  margin: 10px 30px;
  padding: 10px 30px;
  background-color: #fdbf7d;
  border: solid;
  border-color: white;
  border-radius: 30%;
  font-weight: bold;
}

h2 {
  margin-left: 5%;
  margin-right: 5%;
}

.pagetitle {
  text-align: center;
  text-decoration: underline;
}

p {
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-radius: 15px;
  border-color: #ffb38a;
  font-weight: bold;
}

td {
  margin-left: 10px;
  margin-right: 10px;
}

img {
  width: 300px;
  border-radius: 15px;
}

div {
  margin-left: 2em;
  margin-right: 2em;
  text-align: justify;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
}

/* Tablet Media Query */

@media (max-width: 800px) {
  * {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1rem;
  }

  li.nav {
    padding: 5px 10px;
    margin: 5px 10px;
  }

  img {
    width: 160px;
  }

  .flex-container {
    gap: 1em;
  }

  td {
    margin-left: 5px;
    margin-right: 5px;
  }
}

/* Phone Media Query */

@media (max-width: 500px) {
  * {
    font-size: 0.7rem;
  }

  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 0.9rem;
  }

  li.nav {
    padding: 2px 5px;
    margin: 2px 5px;
  }

  img {
    width: 80px;
  }

  .flex-container {
    gap: 0.8em;
  }

  td {
    margin-left: 2px;
    margin-right: 2px;
  }
}
