@font-face {
  font-family: 'Funnel Sans';
  src: url(../Funnel_Sans/FunnelSans-VariableFont_wght.ttf) format(truetype),
    url(../Funnel_Sans/FunnelSans-Italic-VariableFont_wght.ttf) format(truetype);
}

@font-face {
  font-family: 'Space Mono';
  src: url(../Space_Mono/SpaceMono-Regular.ttf) format(truetype),
    url(../Space_Mono/SpaceMono-Bold.ttf) format(truetype),
    url(../Space_Mono/SpaceMono-Italic.ttf) format(truetype),
    url(../Space_Mono/SpaceMono-BoldItalic.ttf) format(truetype);
}

* {
  font-family: 'Funnel Sans', 'Trebuchet MS', Arifsal, sans-serif;
  box-sizing: border-box;
}

header {
  text-align: center;
  position: sticky;
  top: 0;
  /* Old Code*/
  /* background-color: #ffd19f; */
  background-image: url(../images/izakayastreet.jpg);
  background-size: cover;
  background-position-y: -300px;
  border: solid;
  border-color: rgb(117, 53, 0);
  border-radius: 15px;
  margin-top: 0px;
  margin-bottom: 1rem;

  z-index: 1;
}
body {
  background-color: blanchedalmond;
  padding: 0px 0px;
}

a {
  color: inherit;
  background-color: inherit;
  text-decoration: inherit;
}

a.hover:hover {
  color: rgb(75, 73, 72);
}

h1 {
  font-size: clamp(1.5rem, 8vw, 5rem);
  padding: 30px;
  margin-bottom: 0;
}

.maintitle {
  color: white;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

h2 {
  font-size: clamp(1.2rem, 3vw, 2rem);
  margin-left: 5%;
  margin-right: 5%;
}

h3 {
  font-size: clamp(1rem, 1.5vw, 2rem);
  margin-left: 5%;
  margin-right: 5%;
}

.nav {
  /* Old Code*/

  /* background-color: #ffd19f;
  border: solid;
  border-color: #ffd19f; */
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #fdbf7db6;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

li.nav {
  display: inline-block;
  margin: 0px 0px;
  padding: 10px 30px;
  background-color: #fdbf7d00;
  /* border: solid;
  border-color: rgba(48, 28, 5, 0.842);
  border-radius: 30%; */
  font-weight: bold;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

li.nav:hover {
  background-color: #ffae58c4;
}

.pagetitle {
  text-align: center;
  text-decoration: underline;
}

article {
  background-color: #fcdcb2;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-left: min(5%, 10em);
  margin-right: min(5%, 10em);
  margin-bottom: min(5%, 10em);
  box-shadow: -8px 8px 5px rgb(22, 8, 0);
  border-radius: 15px;
}

p {
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
}

table {
  padding: 1em 1em;
}

table,
th,
td {
  border: solid;
  border-style: double;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  padding: 0.5em 0.5em;
}

table.album {
  /* margin-left: auto;
  margin-right: auto;
  border: solid;
  border-radius: 15px;
  border-color: #ffb38a;
  font-weight: bold; */
  background-color: #fcdcb2;
  padding: 2em 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: min(5%, 10em);
  box-shadow: -8px 8px 5px rgb(22, 8, 0);
  border-radius: 15px;
  border: none;
  border-collapse: separate;
}

th {
  font-weight: bold;
}

td {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}

th.album,
td.album {
  border: none;
  padding: 0;
}

img {
  min-width: 80px;
  max-width: 300px;
  border-radius: 15px;
}

div {
  margin-left: 2em;
  margin-right: 2em;
  text-align: justify;
}

div.item1 {
  margin-left: 10px;
  margin-right: 10px;
}

pre {
  margin-left: 5%;
  margin-right: 5%;
  background-color: hsla(0, 0%, 9%, 0.911);
  color: white;
  border-radius: 10px;
}

code {
  font-family: 'Space Mono', monospace;
  font-size: clamp(12px, 1vw, 16px);
}

.entrytitle {
  text-decoration: underline;
}

.blogtitle {
  margin-bottom: 0;
}

.blogdesc {
  font-size: 14px;
  font-style: italic;
  margin-top: 0;
}

.blogimg {
  display: block;
  margin: auto;
  max-width: 600px;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
}

.redbox {
  height: 80px;
  width: 80px;
  background-color: red;
  color: rgb(152, 250, 152);
  font-weight: bold;
  text-align: center;
  border: solid;
  border-color: black;
  margin: 0px;
}

.bluebox {
  height: 100px;
  width: 100px;
  background-color: blue;
  color: rgb(152, 250, 152);
  font-weight: bold;
  text-align: center;
  border: solid;
  border-color: black;
  margin: 0px;
}

.pinkcircle {
  height: 75px;
  width: 75px;
  background-color: rgb(255, 121, 199);
  color: rgb(152, 250, 152);
  font-weight: bold;
  text-align: center;
  border: solid;
  border-color: rgb(109, 52, 83);
  border-radius: 50%;
  line-height: 4;
}

.biggerimg {
  max-width: 500px;
  display: block;
}

.pushedIt {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}

.codeSample .hidden {
  display: hidden;
}

#grow4 {
  flex-grow: 4;
}

#border {
  border: solid;
  border-radius: 15px;
  border-color: #ffb38a;
  padding: 20px;
}

#static {
  position: static;
  /* top: 50px; */
}

#relative {
  position: relative;
  top: 50px;
}

#parent {
  position: relative;
}

#child {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#fixed {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

/* Tablet Media Query */

@media (max-width: 800px) {
  .entrytitle {
    font-size: 24px;
    text-decoration: underline;
  }

  header {
    background-position-y: -50px;
  }

  .blogdesc {
    font-size: 0.7rem;
  }

  li.nav {
    padding: 5px 10px;
    margin: 5px 10px;
  }

  div {
    margin-left: 5px;
    margin-right: 5px;
  }

  .flex-container {
    gap: 0.8em;
  }

  td {
    margin-left: 5px;
    margin-right: 5px;
  }

  .redbox {
    width: 50px;
    height: 50px;
    font-size: 0.7rem;
  }

  .bluebox {
    width: 60px;
    height: 60px;
  }

  .pinkcircle {
    width: 50px;
    height: 50px;
  }

  #relative {
    top: 20px;
    font-size: 0.7rem;
  }
}

/* Phone Media Query */

@media (max-width: 500px) {
  .blogdesc {
    font-size: 0.7rem;
  }

  header {
    background-position-y: 0px;
  }

  .entrytitle {
    font-size: 20px;
    text-decoration: underline;
  }

  li.nav {
    padding: 2px 5px;
    margin: 2px 5px;
  }

  div {
    margin-left: 5px;
    margin-right: 5px;
  }

  .flex-container {
    gap: 0.6em;
  }

  td {
    margin-left: 2px;
    margin-right: 2px;
  }
}
